<section class="full-reset text-center" style="padding: 40px 0;">
    <article class="tile">
        <div class="tile-icon full-reset"><i class="zmdi zmdi-face"></i></div>
        <div class="tile-name all-tittles">administradores</div>
        <div class="tile-num full-reset">0</div>
    </article>
    <article class="tile">
        <div class="tile-icon full-reset"><i class="zmdi zmdi-accounts"></i></div>
        <div class="tile-name all-tittles">usuarios</div>
        <div class="tile-num full-reset">0</div>
    </article>
 
    <article class="tile">
        <div class="tile-icon full-reset"><i class="zmdi zmdi-book"></i></div>
        <div class="tile-name all-tittles">libros</div>
        <div class="tile-num full-reset">0</div>
    </article>
    <article class="tile">
        <div class="tile-icon full-reset"><i class="zmdi zmdi-bookmark-outline"></i></div>
        <div class="tile-name all-tittles">tematica</div>
        <div class="tile-num full-reset">0</div>
    </article>
  
    <article class="tile">
        <div class="tile-icon full-reset"><i class="zmdi zmdi-calendar"></i></div>
        <div class="tile-name all-tittles">historial</div>
        <div class="tile-num full-reset">0</div>
    </article>

</section>